<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account Update Page</title>
<h2>Update Password</h2>
</head>
<body>
<table>
	<thead>Menu</thead>
	<br/>
	<tr>
		<a th:href="@{/logout}">logout</a>
	</tr>
	<br/>
	<tr>
		<a th:href="@{/update}">Account update</a>
	</tr>
	<br>
	<form action="#" th:action="@{/update}" th:object="${userModel}" method="post">
	
		<tr>
			<td>Name:</td>
			<td><input type="text" th:field="*{name}" /></td>
		</tr>
		<tr>
			<td>Email ID:</td>
			<td><input type="text" th:field="*{email}" /></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td><input type="text" value="Enter username" th:field="*{userId}" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" value="Enter password" th:field="*{password}" /></td>
		</tr>
		<tr>
			<td>Re-enter Password:</td>
			<td><input type="password" value="Re-Enter password" th:field="*{password}" /></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Update"></input></td>
		</tr>

	</form>
</table>
</body>
</html>