<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to user registraion home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/myStyles.css" th:href="@{/css/myStyles.css}" />
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
	<h2>Welcome to user registration page</h2>

	<h3>Enter your details to register</h3>

	<form action="#" th:action="@{/login}" th:object="${userModel}"
		method="POST">
		<table>
			<tr>
				<p>
					Name: <input type="text" th:field="*{name}" />
			</tr>
			</p>
			<tr>
				<p>
					Email: <input type="text" th:field="*{email}" />
				</p>
			</tr>
			<tr>
				<p>
					Username: <input type="text" th:field="*{userId}" />
				</p>
			</tr>
			<tr>
				<p>
					Password: <input type="password" th:field="*{password}" />
				</p>
			</tr>

			<tr>
				<td>Enter captcha</td>
				<td><input type="text" name="code"></td>
			</tr>
			<br>
			<img th:src="@{http://localhost:8080/captchaServlet}">

		</table>
		<input type="submit" value="Register"></input> <input type="reset"
			value="Reset"></input>
	</form>




</body>
</html>